*{
  box-sizing:border-box;
}
body{
  background-color:#eee;
  margin:0;
  padding:0;
  text-rendering: optimizelegibility;
  font-family: "Fira Sans",sans-serif;
}
#page{
  width:1200px;
  margin-left: auto;
  margin-right: auto;
}
menu{
  margin:-100% 0 100% 0;
  padding:100% 0;
  width:350px;
  min-height:120%;
  position:fixed;
  background-color:#0f97d7;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.6);
}
header{
  width:350px;
  height:85px;
}
header img{
    width:120px;
    height:26px;
    margin:27px 0 37px 70px;
    float:left;
}
header .title{
  display:inline-block;
  font-weight:bold;
  float:left;
  width:130px;
  height:45px;
  line-height:45px;
  font-size:28px;
  margin:19px 20px 26px 10px;
}
menu h4:hover, menu a:hover{
  background-color:#88d4f7
}
menu h4.highlight, menu a.highlight{
  font-weight:bold;
  background-color:#88d4f7;
}
menu ul{
  margin:0;
  padding:0;
}
menu ul.closed{
  display:none;
}
menu li > a{
    padding-left:25px;
}
menu h4 > a{
    padding-left:10px;
}
menu li{
  list-style-type:none;
  margin:0;
  height:20px;
  line-height:20px;
  font-size: 16px;
}
menu h4{
  padding:0;
  margin:5px 0;
  height:30px;
  line-height:30px;
  font-size: 16px;
  text-transform: uppercase;
}
menu a,
menu a:hover{
  text-decoration:none;
  color:black;
  display:inline-block;
  width:100%;
  height:100%;
  cursor:pointer;
  outline: 0;
}
#content a:hover{
  text-decoration:underline;
}
#content{
  padding:10px 10px 100% 15px;
  width:850px;
  margin-left:350px;
  height:auto;
  background-color:#fff;
}

#content div.syntaxhighlighter{
  padding:5px 0;
}

#content > div{
  margin:0 10px;
}

#content > pre{
  padding-left:30px;
  font-size:15px;
}

#content > h1 {
  text-transform: uppercase;
  color:#333;
  margin:0;
  padding:23px 0 0 0;
  font-size:40px;
}
#content > h2 {
  text-transform: uppercase;
  margin:0;
  padding:20px 0 0 0;
  color:#333;
}
#content > h3 {
  padding-left: 5px;
  text-transform: uppercase;
  font-size:16px;
  color:#333;
}
#content > p {
  color:#444;
}
#content > p.warning {
  color:orange;
}
#content a{
  color:#0f97d7;
  text-decoration:none;
}
#content a:hover{
  text-decoration:underline;
}

#content li{
  list-style-type: square;
}
